---
import Counter from '@components/Apps/counter.svelte'
import Snake from '@components/Apps/Snake.svelte'
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>TEST</title>
  </head>

  <body>
    <button type='button' onclick='console.log(123)'>button</button>
    <Counter client:load />
  </body>
</html>
