---
import ToC from './ToC.svelte'
const { post } = Astro.props
const { Content, headings } = await post.render()
import Article from './Blogpost/Article.svelte'
---

<h1>{post.data.title}</h1>
<h6>Published:{post.data.publishedAt}</h6>
<p>{post.data.description}</p>
<Article client:load><Content /></Article>
<ToC client:load {headings} />
