:root {
  --header-padding: 1rem;
  --header-height: 6rem;
  --aside-width: 400px;
  --min-width1: 768px;
}

.hide {
  display: none;
}

html,
body {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}
