:root {
  --header-padding: 1rem;
  --header-height: 6rem;
  --aside-width: 0px;
  --min-width1: 768px;
}

.hide {
  display: none;
}

html,
body {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

.Mask {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.svgButton * {
  pointer-events: none;
}
