---
import Navigation from './Header/Navigation.svelte'
import Preference from './Header/Preference.svelte'
import SiteLogo from './Header/SiteLogo.astro'
import HeaderScript from './Header/HeaderScript.svelte'
---

<HeaderScript client:load />
<div class='Mask'>
  <div class='headerOutline'>
    <div class='headerWrapper'>
      <div class='headerItemWrapper'>
        <SiteLogo />
      </div>
      <div class='headerItemWrapper'>
        <Navigation />
      </div>
      <div class='headerItemWrapper'>
        <Preference client:load />
      </div>
    </div>
    <div id='controlPanel-container'></div>
  </div>
</div>

<style scoped>
  .Mask {
    position: absolute;
    inset: 0;
    pointer-events: none;
  }
  .headerOutline {
    width: 100%;
    z-index: 10;
    position: absolute;
    top: 0;
    pointer-events: auto;
  }

  .headerWrapper {
    overflow: hidden;
    background: var(--background-color);
    border: 1px solid black;
    padding: 0 var(--nav-padding);
    height: var(--nav-height);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;

    & .headerItemWrapper:first-child {
      margin-right: auto;
    }
    & .headerItemWrapper:nth-child(2) {
      display: none;
    }
    & .headerItemWrapper:nth-child(3) {
      margin-left: auto;
    }
  }

  @media (min-width: 768px) {
    .headerWrapper {
      grid-template-columns: repeat(3, 1fr);
      & .headerItemWrapper:nth-child(2) {
        display: inline !important;
        margin: auto;
      }
    }
  }
</style>
