<div class='headerEmpty'></div>
<div class='container'>
  <div class='Mask' id='MaskOfMain'></div>
  <main>
    <slot />
  </main>
</div>

<style>
  .headerEmpty {
    height: var(--header-height);
  }
  .Mask {
    position: absolute;
    inset: 0;
    pointer-events: none;
  }

  main {
    margin-top: calc(var(--header-padding) * 5);
    max-width: clamp(640px, 100vw, 1280px);
  }
</style>
