<div id='screen'></div>

<div class='headerEmpty'></div>
<div class='container'>
  <main>
    <slot />
  </main>
</div>

<style>
  .headerEmpty {
    height: var(--header-height);
  }
  main {
    /* translate: -500px 50px; */
    max-width: clamp(640px, 100vw, 1280px);
  }
</style>
