---
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout>
  <h1>About Me</h1>
  <h2>... and my new Astro site!</h2>
  <p>Hi!我是 Wen， 努力學習前端技術，目前使用 vue2/3 及 svelte/sveltekit！</p>
  <div class='toDolist'>
    <p>to do list</p>
    <ul>
      <li>Serach Bar(半完工)</li>
      <li>SEO:OG tag</li>
      <li>i18N</li>
      <li>Markdown parser customize</li>
      <li>code block customize</li>
      <li>animation</li>
      <li>projects import</li>
      <li>shopping car</li>
      <li>TOC</li>
      <li>label flter</li>
    </ul>
  </div>
</BaseLayout>
