---
import BaseLayout from '@layouts/BaseLayout.astro'
---

<BaseLayout>
  <a href='/'>Home</a>
  <a href='/about'>About</a>
  <a href='/blog'>Blog</a>
  <h1>About Me</h1>
  <h2>... and my new Astro site!</h2>
  <p>Hi!我是 Wen， 努力學習前端技術，目前使用 vue2/3 及 svelte/sveltekit！</p>
  <div class='toDolist'>
    <ul>
      <li>Serach Bar</li>
      <li>SEO</li>
      <li>i18N</li>
      <li>Markdown parser customize</li>
      <li>code block</li>
    </ul>
  </div>
</BaseLayout>
