---
import '@picocss/pico'
import '@styles/global.css'
import { siteConfig } from '@lib/utils/config.ts'
import Header from '@components/Site/Header.astro'
import Footer from '@components/Site/Footer.astro'
import Main from '@layouts/Main.astro'
---

<html lang='zh_TW'>
  <script>
    document.documentElement.dataset.theme = localStorage.theme || 'dark'
  </script>
  <meta charset='utf-8' />

  <meta property='og:locale' content='zh_TW' />
  <!-- <link rel='icon' type='image/svg+xml' href='/favicon.svg' /> -->
  <link rel='icon' href='https://fav.farm/🖋' />
  <meta name='viewport' content='width=device-width' />
  <meta name='generator' content={Astro.generator} />
  <title>{siteConfig.title}</title>

  <body>
    <div class='main'>
      <Header />
      <Main>
        <slot />
      </Main>
    </div>
    <Footer />
    <style></style>
  </body>
</html>

<style>
  .main {
    position: relative;
  }
</style>
