---
import '@picocss/pico'
import { siteConfig } from '@lib/utils/config.ts'
import Nav from '@components/Site/Nav.astro'
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='stylesheet' href='/src/styles/global.css' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{siteConfig.title}</title>
  </head>
  <body>
    <Nav />
    <slot />
  </body>
</html>
