---
import '@picocss/pico'
import '@styles/global.css'
import { siteConfig } from '@lib/utils/config.ts'
import Header from '@components/Site/Header.astro'
import Footer from '@components/Site/Footer.astro'
---

<html lang='en'>
  <meta charset='utf-8' />
  <script>
    document.documentElement.dataset.theme = localStorage.theme || 'dark'
  </script>
  <!-- <link rel='icon' type='image/svg+xml' href='/favicon.svg' /> -->
  <link rel='icon' href='https://fav.farm/🖋' />
  <meta name='viewport' content='width=device-width' />
  <meta name='generator' content={Astro.generator} />
  <title>{siteConfig.title}</title>

  <body>
    <div class='main'>
      <main>
        <slot />
      </main>
      <Header />
    </div>
    <Footer />
    <style>
      .main {
        position: relative;
      }
    </style>
  </body>
</html>
